body{
  margin:0;
  padding:0;
  background:#000;
}
#container{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -275px;
    margin-left: -500px;
}
#canvas{
  border:solid 3px #333;
  border-radius:10px;
}
header{
  position:fixed;
  top:0px;
  left:0px;
  background:#333;
  width:100%;
  padding:10px 0 10px 20px;
}
header h1{
  color:rgba(255,255,255,0.75);
  margin:0 0 0 0;
  padding:0 0 0 0;
  font-size:22px;
  font-family: 'Noto Serif', serif;
  letter-spacing:1px;
  float:left;
}
header h2{
  color:rgba(255,255,255,0.5);
  margin:10px 0 0 10px;
  padding:0 0 0 0;
  font-size:10px;
  font-family: 'Noto Serif', serif;
  letter-spacing:1px;
  float:left;
}